<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo de Perguntas</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
</head>
<body>
    <!-- Exibição do ranking -->
    <div class="ranking-container">
        <h2>Melhores Jogadores</h2>
        <ul>
            {% for player in top_players %}
                <li style="display: flex; align-items: center; margin-bottom: 10px;">
                    <img src="static/trofeu.jpg" alt="Troféu" style="width: 30px; height: 30px; margin-right: 10px;">
                    <span><strong>{{ player['username'] }}</strong> - Pontuação: {{ player['pontuacao'] }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Login Formulário -->
    <div class="container">
        <form method="POST" action="/login">
            <h1>Login</h1>
            <input type="text" name="username" placeholder="Usuário" required>
            <input type="password" name="password" placeholder="Senha" required>
            <button type="submit">Entrar</button>
            <p><a href="/cadastro">Não tem uma conta? Cadastre-se!</a></p>
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        </form>
    </div>

    <!-- Rodapé -->
    <footer>
        <div class="footer-content">
            <div class="contato">
                <p>Entre em contato:</p>
                <ul>
                    <li>
                        <a href="https://github.com/AndreManoelino?tab=repositories" target="_blank">
                            <img src="static/img/github.png" alt="GitHub" style="width: 20px; height: 20px; margin-right: 5px;"> 
                        </a>
                    </li>
                    <li>
                        <a href="https://wa.me/5531991070255" target="_blank">
                            <img src="static/img/zap_icon.png" alt="WhatsApp" style="width: 20px; height: 20px; margin-right: 5px;"> 
                        </a>
                    </li>
                    <li>
                        <a href="https://linkedin.com/Andre-Manoelino" target="_blank">
                            <img src="static/img/linkedin_icon.png" alt="Linkedin" style="width: 20px; height: 20px; margin-right: 5px;"> 
                        </a>
                    </li>
                    <li>
                        <a href="mailto:agmphandre@gmail.com" target="_blank">
                            <img src="static/img/email_icon.png" alt="E-mail" style="width: 20px; height: 20px; margin-right: 5px;"> 
                        </a>
                    </li>
                </ul>
            </div>
            <p class="copyright">Direitos Autorais Reservados a André Manoelino</p>
        </div>
    </footer>
</body>
</html>
