<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Jogo de Perguntas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <img src="{{ url_for('static', filename='img/jogo.jpg') }}" alt="Jogo">
</head>
<body>
    <div class="container">
        <form method="POST" action="/cadastro">
            <h1>Cadastro</h1>
            <input type="text" name="username" placeholder="Usuário" required>
            <input type="password" name="password" placeholder="Senha" required>
            <button type="submit">Cadastrar</button>
            <p><a href="/">Já tem uma conta? Faça login!</a></p>
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        </form>
    </div>

    <!-- Rodapé -->
    <footer>
        <div class="footer-content">
            <div class="contato">
                <p>Entre em contato:</p>
                <ul>
                    <li>
                        <a href="https://github.com/AndreManoelino?tab=repositories" target="_blank">
                            <img src="{{ url_for('static', filename='img/github.png') }}" alt="GitHub"> GitHub
                        </a>
                    </li>
                    <li>
                        <a href="https://wa.me/5531991070255" target="_blank">
                            <img src="{{ url_for('static', filename='img/zap_icon.png') }}" alt="WhatsApp"> WhatsApp
                        </a>
                    </li>
                    <li>
                        <a href="https://linkedin.com/Andre-Manoelino" target="_blank">
                            <img src="{{ url_for('static', filename='img/linkedin_icon.png') }}" alt="Linkedin"> Linkedin
                        </a>
                    </li>
                    <li>
                        <a href="mailto:agmphandre@gmail.com" target="_blank">
                            <img src="{{ url_for('static', filename='img/email_icon.png') }}" alt="E-mail"> E-mail
                        </a>
                    </li>
                </ul>
            </div>
            <p class="copyright">Direitos Autorais Reservados a André Manoelino</p>
        </div>
    </footer>
</body>
</html>
